html,
body {
  height: 100%;
}
#header {
  display: flex;
  flex-direction: row;
  /* background-color: lightBlue; */
  height: 22vh;
  width: 98vw;
}
#header-img {
  display: flex;
  flex-direction: row;
}
#header-img img {
  padding: 20px;
  height: 15vh;
}
#nav-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding: 5px;
  width: 100%;
  align-content: flex-end;
  justify-content: flex-end;
}
.nav-link {
  text-decoration: none;
  padding: 10px;
  display: block;
  justify-content: space-between;
  list-style-type: none;
  font-size: 20px;
  color: black;
}
.nav-link a {
  text-decoration: none;
  color: black;
}
.nav-link a:hover {
  color: blue;
}
.products img {
  width: 200px;
  height: auto;
}
