html,
body {
  height: 100vh;
}
#header {
  display: flex;
  flex-direction: row;
  background-color: lightBlue;
  height: 18vh;
  width: 98vw;
  position: fixed;
  top: 0;
  width: 100%;
}
#header-head {
  display: flex;
  flex-direction: row;
}
#header-head img {
  padding: 20px;
  height: 15vh;
}
#nav-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding: 5px;
  align-content: flex-end;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  width: 100%;
}
.nav-link {
  text-decoration: none;
  padding: 10px;
  display: block;
  justify-content: space-between;
  list-style-type: none;
  font-size: 20px;
  color: black;
  text-decoration: none;
  color: black;
  padding: 10px;
  margin: 20px;
}

#email-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
  width: 100%;
  align-items: center;
}
#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#email {
  height: 20px;
  width: 200px;
  margin: 10px;
}
.btn {
  height: 30px;
}

#stickers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px;
}

#products img {
  width: 200px;
  height: auto;
}
#video-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
  align-items: center;
}
#video-container h2 {
  justify-content: center;
  align-items: center;
}
footer {
  margin-top: 30px;
  background-color: lightBlue;
  padding: 20px;
}
footer ul {
  display: flex;
  justify-content: flex-end;
}
footer li {
  padding: 0 10px;
  list-style-type: none;
  text-decoration: none;
}
footer span {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  font-size: 0.9em;
}

@media only screen and (max-width: 600px) {
  #header-head h1 {
    font-size: 4vh;
  }
  .nav-link {
    position: relative;
    top: 50px;
  }
  footer {
    width: 100%;
  }
}
